.dashboard-overview-outer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.dashboard-overview-inner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; /* gap-6 */
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (min-width: 768px) {
  .dashboard-overview-inner {
    flex-direction: row;
    gap: 2rem; /* gap-8 */
  }
}