@import "tailwindcss";

/* Hide range thumb cross-browser */
.range-thumbless::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
}
.range-thumbless::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
}
.range-thumbless::-ms-thumb {
  width: 0;
  height: 0;
  background: transparent;
  cursor: default;
}
